/Temporary/

# IDE folders
/.venv/
/.idea/
/.vs/
/.vscode/

# Binaries
/external-search/bin/*
*.o
*.lib
*.a
*.dll
*.so
*.exe

# Logging and cache
/external-search/cache/*
*.log

# Specific built data-structures files
*.btree
*.bstar
*.ebst
*.erbt


/external-search/bin/exe/josue.exe
/external-search/bin/exe/pesquisa.exe
/external-search/temp/input-data.bin