/Temporary/

# IDE folders
/.vs/
/.vscode/
/external-search/.vs/
/external-search/.vscode/

# Research and local annotations
/Annotations/*


# Binaries
/external-search/bin/*
*.o
*.lib
*.a
*.dll
*.so
*.exe

# Logging
*.log

# Specific built data-structures files
*.btree
*.bstar
*.ebst
*.erbt
